body{
  background-color:	#E6E5E0;
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif;
}

.content{
  width:94vw;
  margin:3vh 3vh;
}

@media only screen and (max-width: 1450px) {
  body {
    font-size:13px;
  }
}

@media only screen and (max-width: 1130px) {
  body {
    font-size:11px;
  }
}

@media only screen and (max-width: 954px) {
  body {
    font-size:9px;
  }
}

@media only screen and (max-width: 780px) {
  .tabs_buttons span{
    display:none;
  }
  .tabs_buttons img{
    width:3vw;
  }

}

@media only screen and (max-width: 1130px) {
  .content {
    margin:1vh;
  }
}





